<!DOCTYPE html>
<html>
  <head>
    <title>UsersSupport</title>
    <%= stylesheet_link_tag    "users_support/application", media: "all" %>
    <%= javascript_include_tag "users_support/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
